<h1>Stupid coaching</h1>

<div class='banner'>
  <h2>Question: <%= @user_answer %></h2>
  <p> - You </p>
  <h2>Answer: <%= @answer %></h2>
  <p> - Coach </p>
</div>

<p><%= link_to "Ask another question", ask_path %></p>
